@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #101010;
  --black-bg: #202020;
  --red: #f00c18;
  --dark-red: #8a040a;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px !important;
}

*.scroll-off::-webkit-scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--black);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--black-bg);
}

/* html {
  height: 100%;
  overflow-x: hidden;
} */

a,
a:hover,
a:focus {
  text-decoration: none;
  color: none;
}

.carousel{
  max-width: calc(100vw - 20px);
}